.navbar.navbar-inverse
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
      span.icon-bar
      |       
      span.icon-bar
      |       
      span.icon-bar
  |   
  .navbar-collapse.collapse.navbar-inverse-collapse
    ul.nav.navbar-nav.navbar-left
      li
        a(href='/') back
    ul.nav.navbar-nav
    |   
    |     
    ul.nav.navbar-nav.navbar-right
