extends layout

block content
    #sectionH.container
      h1 Quaerit
      .row
        form(action='/result').col-lg-6.col-lg-offset-3
          .input-group
            input.form-control(type='text', name='text', placeholder='Search for...')
            |       
            span.input-group-btn
              button.btn.btn-success(type='button', style='font-color:#3e3f3a')  Go!