html
  head
    title
    | &#x9;&#x9;
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.3.min.js')
    | &#x9;&#x9;
    link(href='http://maxcdn.bootstrapcdn.com/bootswatch/3.3.1/sandstone/bootstrap.min.css', rel='stylesheet')
    | &#x9;&#x9;
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    | &#x9;&#x9;
    link(href='main.css', rel='stylesheet')
  body
    .navbar.navbar-inverse
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
          span.icon-bar
          |       
          span.icon-bar
          |       
          span.icon-bar
      |   
      .navbar-collapse.collapse.navbar-inverse-collapse
        ul.nav.navbar-nav
        |   
        |     
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') API
          |       
          li
            a(href='#') Pricing
    #sectionH.section
      h1 Quaerit
      .form-group.has-success
        input#inputSuccess.form-control(type='text')
