@font-face {
	font-family: font;
	src: url('../fonts/BebasNeue Bold.ttf');
}

@font-face {
	font-family: font2;
	src: url('../fonts/BebasNeue Regular.ttf');
}

body h1 {
	color: #81b33a;
	text-align: center;
}

body {
	background-color: #3e3f3a;

}
@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.form-group {
	margin-top: 2%;
/*	margin-left: 25%;
	margin-right: 25%;*/
}
#sectionH {
	margin-top: 10%
}

#sectionH h1 {
		text-align: center;
		font-size: 100px;
		font-family: font;	

}

.navbar {
	/*background-color: #3e3f3a;
	border-color: #3e3f3a;*/
}
.navbar .nav li a {
	font-size: 20px;	
}

#submit {
	font-size: 15px;
	text-align: center;


}
.btn-success {
	color: #3e3f3a;

}
#myrow {
	color: #81b33a;
	padding:1%;
	margin: 1%;
/*	opacity: 0.75;
*/	background-color: white;
}
.form-group {
	margin: 0px auto;
}
.changeColor {
		color: 
}
#jsonstuff {
	overflow: auto;
	height: 450px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 1%;
	margin-left: 5%;
	background-color: white	;
}
.navbar {
	border-radius: 0px;
}
items div ul{
}
#items div ul{
	margin-right: 11.87%;
}
#items div ul li {

}
.form-control {
	opacity: 0.7;

/*	-webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);*/

}

li.active a {
	background-color: #93C54B;
	border: #93C54B;
	color: #3E3F3A;
}

a {
	text-align: center;
}
.jsonview  {
	font-size: 13px;
	color: black;
}